@use '../../styles/colors.scss' as colors;

.button {
  border: none;
  border-radius: 3em;
  padding: 1.5em;
  color: white;
  &-ok {
    background-color: colors.$green;
  }
  &-cancel {
    background-color: colors.$red;
  }
  &-action {
    background-color: colors.$blue;
  }
}
