@use '../../styles/colors' as colors;
@use '../../styles/fonts' as fonts;

.tile-border{
  border-left: 0.25rem solid colors.$primary;
  border-left-width: 0.25rem;
  border-left-style: solid;
  border-left-color: rgb(78, 115, 223);
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.tile {
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  padding: 1.5em;
  &-green {
    //background-color: colors.$green;
    p:first-child{
      color: colors.$green;
      text-transform: uppercase;
    }
  }
  &-teal {
    //background-color: colors.$teal;
    p:first-child{
      color: colors.$teal;
      text-transform: uppercase;
    }
  }
  &-blue {
    //background-color: colors.$primary;
    p:first-child{
      color: colors.$primary;
      text-transform: uppercase;
    }
  }
  &-yellow {
    //background-color: colors.$yellow;
    p:first-child{
      color: colors.$yellow;
      text-transform: uppercase;
    }
  }
  p{
    color: colors.$dark;
    font-family: fonts.$base-family;
    font-weight: 700;
    margin: 0;
  }
}

