.loading-spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 5rem;
  background: linear-gradient(#344ae1, #344ae160, #344ae130, #fff, #fff);
  box-shadow: 0px 0px 100px -50px black;
  animation: animate 1s linear infinite;
}

.loading-spinner::before {
  position: absolute;
  content: '';
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  border-radius: 5rem;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .loading-spinner {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .loading-spinner {
    width: 50px;
    height: 50px;
  }
}
