@use '@/styles/colors.scss' as colors;

.trigger {
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#sidebarToggleTop {
  position: absolute;
  height: 4.375rem;
  margin-left: 1rem;
  &.btn-link:hover {
    color: colors.$primary;
  }
}
