*{
  $base-family: Nunito;
}
.column-1{
    background-color: #4e73df;
    min-height: 100%;
    height: auto;
    width: 250px;
}
.aqua{
  font-weight: 700;
  font-size: 18px;
}
.column-1--open .aqua{
  visibility: hidden;
}
.trigger {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.column-1--open{
    background-color: #4e73df;
    width: 100px;
}
