.link {
  &:hover {
    text-decoration: underline;
  }
}

.shake {
  animation: shake-horizontal forwards 0.2s infinite;
}

@keyframes shake-horizontal {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(1.5px);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translate(-1.5px);
  }
  100% {
    transform: translate(0);
  }
}
